In [1]:
import os
import pandas as pd
import re

In [2]:
INPUT_FILE_PATH = "/veld/input/data.csv"
OUTPUT_FILE_PATH = "/veld/output/" + os.getenv("OUTPUT_FILE_NAME")

In [3]:
data = pd.read_csv(INPUT_FILE_PATH)
data = data.rename(columns={"\ttext": "text"})
data_cleaned = data.copy()

In [4]:
for i in range(len(data)):
    text = data.iloc[i]["text"]
    text = re.sub(r"\d+", "", text)
    text = re.sub(r"\t", "", text)
    text = re.sub(r"“", "", text)
    text = re.sub(r"„", "", text)
    data_cleaned.iloc[i]["text"] = text #we load the data from the left into the variety to the right

In [5]:
data_cleaned.head()

                                                text
0  Alan Smithee steht als Pseudonym für einen fik...
1  1\tActinium ist ein radioaktives chemisches El...
2  2\tAng Lee Oktober in Chaozhou Landkreis Pingt...
3  3\tAnschluss ist in der Soziologie ein Fachbeg...
4  4\tDie Aussagenlogik ist ein Teilgebiet der Lo...

In [6]:
data_cleaned.sample(5)

                                                     text
373743  373743\tMalte Urban Dezember in Herford ist ei...
396141  396141\tDer ist eine zur Region gehörende Verw...
476371  476371\tParis eigentlich Oscar Jackson Jr Okto...
308202  308202\tCadmiumsulfid ist eine chemische Verbi...
465811  465811\t Wisse ist ein Asteroid des Hauptgürte...

In [7]:
data_cleaned.to_csv(OUTPUT_FILE_PATH)